html {
  font-size: 22px;
}

.page-title {
  font-size: 3rem;
  text-align: center;

  /* your code here */

  position: fixed;
  right: 25%;
  left: 25%;

  /* right and left can have the value of 0 */
}
