* {
  box-sizing: border-box;
}

body {
  max-width: 800px;
  margin: auto;
}

header {
  flex-direction: column;
  align-self: flex-start;
}

.row {
  display: flex;
}

.column-one-third {
  width: calc(100% / 3);
}

.one-fourth {
  width: 25%;
  padding: 10px;
}

.column-thirty {
  width: 30%;
  padding: 0 10px;
}

.column-seventy {
  width: 70%;
  padding: 20px;
}

img {
  width: 100%;
}
