* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Courier Prime", monospace;
}

.black-text {
  color: black;
}

.green-correct-text {
  color: rgb(38 243 31);
}

.red-error-text {
  color: red;
}

.border-bottom {
  border-bottom: 4px solid black;
}

.red-border-bottom {
  border-bottom: 4px solid rgb(200 0 0);
}
