* {
  box-sizing: border-box;
}

header {
  background-color: white;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.header-logo {
  height: 85px;
  width: 100px;
}

.first-row {
  width: 80%;
  height: 300px;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  color: white;
  filter: grayscale(45%);
}

.second-row {
  display: flex;
}

.dark-gray-footer {
  background: rgb(97 95 95);
  color: white;
  display: flex;
}

.col-one-of-three-right {
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  list-style: none;
  position: relative;
  left: 600px;
}

.col-one-of-three-right,
li {
  align-self: flex-start;
  padding: 10px;
}

.bottom-footer {
  background: rgb(235 232 232);
  display: flex;
  justify-content: flex-start;
  list-style: none;
}
